* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img.hmbg {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}

li {
  list-style: none;
}

img {
  width: 230px;
  height: 230px;
}

footer {
  background-color: #333333;
  width: 100%;
  color: #ffffff;
}
.col-md-3 {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 20px;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: "Phudu", cursive;
  border-style: ridge;
  letter-spacing: 2px;
  gap: 0.3rem;
  color: #ffffff;
}

.row {
  gap: 2em;
}
